<div class="row-fluid">
	<div class="widget widget-tabs widget-tabs-left">
		<div class="widget-title">
			<!--<h4>Donation</h4>-->
			<span class="tools"></span>
			<!--<div class="widget-buttons"></div>-->
		</div>
		<div class="widget-body">
			<div class="form-horizontal">
				<div class="tabbable portlet-tabs">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#tabs-pages" data-toggle="tab"><i class="icon-user"></i>&nbsp;{{tabPages}}</a></li>
					</ul>

					<div class="tab-content" >
						<div class="tab-pane fade in active" id="tabs-pages">
							
							<!--<div  class="control-group">
								<label class="control-label" id="name" >Pages</label>
								<div class="controls">
									<textarea  class="input-xlarge" rows="10" id="pages" name="pages" ></textarea>
									<span class="help-inline"></span>
								</div>
							</div>-->
							<div class="control-group">
								<label class="control-label">Pages</label>
								<div class="controls">
									<ul id="wpPages" name="wPages"></ul>
								</div>
							</div>
						</div>
							<div class="form-actions">
								<button class="btn btn-success" id="save"><i class="icon-save"></i>&nbsp;{{buttonSave}}</button>
								<button class="btn" id="cancel"><i class="icon-remove"></i>&nbsp;{{buttonCancelEdit}}</button>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>