body {
	background-color: transparent;
	color: #444;
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
	line-height: 1.4em;
}
@media (min-width: 768px) {
	.container {
		width: 570px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 790px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 970px;
	}
}

ul.subsubsub a {
	background-color: transparent !important;
	color: #0074a2;
	display: inline-block;
	margin: 0 5px;
	padding: 0;
}
ul.subsubsub li:first-child a { margin-left: 0; }
ul.subsubsub li.active a,
ul.subsubsub li.active a:hover {
	color: #000;
}
ul.subsubsub a:hover {
	color: #2ea2cc;
}
.form-control {
	padding: 6px 12px !important;
	height: 34px !important;
}
input[type="checkbox"],
input[type="radio"] {
	outline: none !important;
}
.panel-default {
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 0;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
}
.panel-default > .panel-heading {
	background: #fff;
	font-size: 14px;
	font-weight: 600;
}


#delete-address.profile-edit-address {
	float: right;
}
a.accordion-toggle{
	text-decoration: none;

}

.ng-cloak { display:none; }

.form-group {
	clear: both;
}

.form-group .help-block {
	display: none;
}

.form-group.has-error .help-block {
	display: block;
}

.form-horizontal.profile.profile-edition.ng-scope {
	margin-top: 20px;
}

.nopadding{
	padding: 0 !important;
}

a.list-view{
	font-size: 13px;
	cursor: pointer;
}

a.list-view:hover{
	text-decoration: none;
}

.row-actions.maven{
	visibility: visible;
}
.td{
	display: table-cell;
}
.orders-header {
    font-size: 16px;
}
.orders-header .col-md-2 {
    width: auto;
}
.orders-header span:first-child {
	padding-left: 0px;
}
.no-float{
	float: none;
}
.table {
    background-color: #ffffff;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
	border: none;
}
.table > thead > tr > th{
	border-bottom: 1px solid #dddddd;
}

table.table.table-striped .table-bottom th {
    border-top: 1px solid #dddddd;
}

tr.no-items-maven td.colspanchange {
    background: none repeat scroll 0 0 white !important;
}

.repeat-enter,
.repeat-leave,
.repeat-move {
	-webkit-transition:all linear 0.5s;
	-moz-transition:all linear 0.5s;
	-ms-transition:all linear 0.5s;
	-o-transition:all linear 0.5s;
	transition:all linear 0.5s;
}

.repeat-leave.repeat-leave-active {
	opacity:0;
	line-height:0;
}

div.updated.maven-updated {
    margin-bottom: 5px;
    margin-top: 28px;
    padding: 7px 12px;
}
div.updated.maven-updated .close {
    line-height: unset;
}
.updated.maven-updated.maven-danger {
    border-left: 4px solid red;
}
.updated.maven-updated.maven-success {
    border-left: 4px solid #7ad03a;
}
.btn-default {
	background: #e0e0e0;
	border: none;
	border-radius: 2px;
	color: #0074A4;
	font-size: 13px;
	font-weight: 600;
	text-shadow: none;
	padding: 4px 8px;
	position: relative;
	top: -3px;
}
.btn-default:hover {
	background: #2ea2cc;
	color: #fff;
}
.gravityForm-icon.ng-scope > img {
	margin-bottom: -27px;
    margin-top: -31px;
    width: 29px;
}

a.profile-edit-address.view-hide-address {
    float: right;
    font-size: 13px;
    padding-right: 18px;
    padding-top: 5px;
}

a.profile-edit-address.view-hide-address:hover{
	text-decoration: none;
}
body.modal-open{
	overflow: auto;
}
h3.modal-title {
    text-align: center;
}
div.modal-body{
	display: table;
    margin: 0 auto;
}

.modal-footer{
	margin-top: 0;	
}
h2 input {
    font-size: 14px;
    height: 30px;
    position: relative;
    top: -3px;
    width: 178px;
}
select.status-dropdown{
    font-size: 16px;
	background-position: 97px center !important;
    height: 37px;
    width: 142px;
}
select.status-dropdown option {
	font-size: 14px !important;
	background-position: 102px top !important;
    height: 37px;
    width: 125px;
}
div.form-group.promo-rules select, div.form-group.promo-rules input,  div.form-group.promo-rules span{
    height: 34px;
    padding: 6px 12px;
}
div.form-group.promo-rules input {
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    font-size: 14px;

}
div.form-group.promo-rules span.trash a{
    color: red;
}