body {
	background-color: transparent;
}

#delete-address.profile-edit-address {
    float: right;
}
a.accordion-toggle{
	text-decoration: none;
	
}
@media (min-width: 768px) {
	.container {
		width: 570px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 790px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 970px;
	}
}

.ng-cloak { display:none; }

.form-group {
    clear: both;
}

.form-horizontal.profile.profile-edition.ng-scope {
    margin-top: 20px;
}