<div  class="control-group">
	<label class="control-label" for="firstLine">{{firstLine}}:</label>
	<div class="controls"><input class="input-xlarge" type="text" name="firstLine" id="firstLine" /></div>
</div>
<div  class="control-group">
	<label class="control-label" for="secondLine">{{secondLine}}:</label>
	<div class="controls"><input class="input-xlarge" type="text" name="secondLine" id="secondLine" /></div>
</div>
<div  class="control-group">
	<label class="control-label" for="city">{{city}}:</label>
	<div class="controls"><input class="input-large" type="text" name="city" id="city" /></div>
</div>
<div  class="control-group">
	<label class="control-label" for="state">{{state}}:</label>
	<div class="controls"><input class="input-large" type="text" name="state" id="state" /></div>
</div>
<div  class="control-group">
	<label class="control-label" for="country">{{country}}:</label>
	<div class="controls"><input class="input-xlarge" type="text" name="country" id="country" /></div>
</div>
<div  class="control-group">
	<label class="control-label" for="zipcode">{{zipcode}}:</label>
	<div class="controls"><input class="input-small" type="text" name="zipcode" id="zipcode" /></div>
</div>
