<div class="span2 responsive" data-desktop="span2" data-tablet="span4">
	<div class="stats-overview block clearfix">
		<div class="details">
			<div class="numbers" id="count"></div>
			<div class="title">{{totalCount}}</div>
		</div>
	</div>
</div>
<div class="span2 responsive" data-desktop="span2" data-tablet="span4">
	<div class="stats-overview block clearfix">
		<div class="details">
			<div class="numbers" id="completedCount"></div>
			<div class="title">{{totalCompletedCount}}</div>
		</div>
	</div>
</div>
<div class="span2 responsive" data-desktop="span2" data-tablet="span4">
	<div class="stats-overview block clearfix">
		<div class="details">
			<div class="numbers" id="total"></div>
			<div class="title">{{totalSales}}</div>
		</div>
	</div>
</div>