<div class="row-fluid">
	<div class="widget widget-tabs widget-tabs-left">
		<div class="widget-title">
			<span class="tools" id="statusContainer"></span>
		</div>
		<div class="widget-body">
			<div class="form-horizontal">
				<div class="tabbable portlet-tabs">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#order_data" data-toggle="tab"><i class="icon-info-sign"></i>&nbsp;{{tabEditOrder}}</a></li>
					</ul>
					<div class="tab-content" >
						<div class="tab-pane fade in active" id="order_data">

							<table id="orderItems" border="0" cellpadding="0" cellspacing="0" width="100%" class="mvn-order-items">
								<thead>
									<tr>
										<th class="items">{{itemsOrdered}}</th>
										<th>{{quantity}}</th>
										<th>{{itemPrice}}</th>
										<th>{{itemTotal}}</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<td>
											<label for="description">{{notes}}</label>
											<textarea id="description" cols="30" rows="5"></textarea>
										</td>
										<td class="item-total" colspan="3">
											<p>{{subtotal}}: <span id="subtotal"></span></p>
											<p>{{discount}}: <span id="discountAmount"><br><em id="promotion-desc">Test</em></span></p>
											<p>{{shipping}}: <span id="shippingAmount"><br><em id="shippingMethod"></em></span></p>
											<p class="total">{{total}}: <span id="total"></span></p>
										</td>
									</tr>
								</tfoot>
								<tbody>

								</tbody>
							</table>

							<!--<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mvn-order-manage">
								<thead>
									<tr>
										<th colspan="2">Manage Order</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<td><button type="button" id="add-product" class="button button-primary add_product">Send Shipment Notice</button></td>
										<td style="text-align:right;">
											<button type="button" id="add-product" class="button button-primary add_product">Capture</button>
											<button type="button" id="add-product" class="button button-primary add_product">Void</button>
											<button type="button" id="add-product" class="button button-primary add_product">Refund</button>
										</td>
									</tr>
								</tfoot>
								<tbody>
									<tr>
										<td class="message"><strong>Payment Pending</strong> - Transaction: 136583</td>
										<td>Submitted on Friday, May 3th 2013 at 11:53pm EST (1 day ago)</td>
									</tr>
									<tr>
										<td class="message"><strong style="color:#007a3b;">Payment Receive</strong> - Transaction: 136583</td>
										<td>Submitted on Friday, May 3th 2013 at 11:53pm EST (1 day ago)</td>
									</tr>
								</tbody>
							</table>-->

							<div class="colgroup">
								<div id='contactContainer' class="col-3 billto">

								</div>
								<div id='billingContainer' class="col-3 shipto">

								</div>
								<div id='shippingContainer' class="col-3 information">

								</div>
								<div style="clear:both"></div>
							</div>
							
							<div class="colgroup"  id="extraGroupsContainer">
								<div id="creditCardContainer" class="col-3 billto">
									
								</div>
								<!--<div id="orderShipping" class="col-3 shipto">									
								</div>-->
								
								<!--<div style="clear:both"></div>-->
							</div>
							<table  id="orderStatuses" border="0" cellpadding="0" cellspacing="0" width="100%" class="mvn-order-events">
								<thead>
									<tr>
										<th colspan="4">{{orderEvents}}</th>
									</tr>
								</thead>
								<!--<tfoot>
									<tr>
										<td colspan="4" style="text-align:right"><strong>Order Balance:</strong> <span><strong>$0.00</strong></span></td>
									</tr>
								</tfoot>-->
								<tbody>

								</tbody>
								<!--<tfoot>
									<tr>
										
										<th><button id="addStatus" class="btn btn-mini btn-primary"><i class="icon-plus-sign"></i>&nbsp;{{buttonAddStatus}}</button></th>
										<th></th>
										<th style="text-align:left">Aca va el estado</th>
										<th style="text-align:left">Descripcion</th>
									</tr>
								</tfoot>-->
							</table>
						</div>	
					</div>
				</div>
				<div class="form-actions">
					<button class="btn btn-success" id="save"><i class="icon-save"></i>&nbsp;{{buttonSaveOrder}}</button>
					<button class="btn" id="cancel"><i class="icon-remove"></i>&nbsp;{{buttonCancelEditOrder}}</button>
					<a class='btn btn-primary' id='print' target="_blank"><i class='icon-print'></i>&nbsp;Print</a> 
				</div>
			</div>
		</div>

	</div>

</div>
