<div class="head-title">{{orderShipping}}</div>
<div class="left" id="info">
	<p><strong id="shippingCarrierLabel"></strong></p>
	<p><a id="shippingTrackingUrlLink" target="_blank" href="" ><em id="shippingTrackingCodeLabel"></em></a></p>	
</div>
<div class="left" id="fields">
	<p class="control-group">
		<input class="input-large" type="text" name="shippingCarrier" id="shippingCarrier" placeholder="{{carrier}}" data-error-style="tooltip"/>
	</p>
	<p class="control-group">
		<input class="input-large" type="text" name="shippingTrackingCode" id="shippingTrackingCode" placeholder="{{trackingCode}}" data-error-style="tooltip"/>
	</p>
	<p class="control-group">
		<input class="input-large" type="text" name="shippingTrackingUrl" id="shippingTrackingUrl" placeholder="{{trackingUrl}}" data-error-style="tooltip"/>
	</p>
	<div class="alert alert-info">This will change the order status to "Shipped" and will send a notification to the customer</div>
	<p style="text-align: right">
		<button class="btn btn-mini btn-success" id="btnSendShipmentNotice"><i class="icon-truck"></i>&nbsp;{{sendShipmentNotice}}</button>
		<button class="btn btn-mini" id="btnCancelShipmentNotice">{{cancelShipmentNotice}}</button>
	</p>
</div>
<div class="left" id="action">
	<button id="btnAddShipmentNotice" class="btn btn-mini"><i class="icon-truck"></i>&nbsp;{{addShipmentNotice}}</button>
</div>