
/* Reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.entry-content img {
	margin: 0 0 1.5em 0;
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
  margin-right: 1.5em;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
  margin-left: 1.5em;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.wp-caption {
	text-align: center;
	margin-bottom: 1.5em;
}
.wp-caption img {
	border: 0 none;
	margin: 0;
	padding: 0;
}
.wp-caption p.wp-caption-text {
	margin: 0;
}
.wp-smiley { 
	max-height: 1em;
	margin:0 !important;
}
.gallery dl {
	margin: 0;
}
.gallery-caption {
	margin:-1.5em 0 0 0;
}
blockquote.left {
	float: left;
	margin-left: 0;
	margin-right: 20px;
	text-align: right;
	width: 33%;
}
blockquote.right {
	float: right;
	margin-left: 20px;
	margin-right: 0;
	text-align: left;
	width: 33%;
}
/**************************************************** GLOBAL STYLES ****/
body {
	background: #fff url(../images/bg-body.jpg) top left no-repeat;
	color: #000;
	font: 13px Helvetica, Arial, sans-serif;
	line-height: 18px;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	position: relative;
}
h1{ font-size:28px;}
h2{ font-size:26px;}
h3{ font-size:18px;}
h4{ font-size:16px;}
h5{ font-size:14px;}
h6{ font-size:12px;}
h1,h2,h3,h4,h5,h6{ color:#563D64;}
small{ font-size:10px;}
b, strong{ font-weight:bold;}
a{ text-decoration: none; }
a:hover{ text-decoration: underline; }
.left { float:left; }
.right { float:right; }
.alignleft { float: left; margin-right: 15px; }
.alignright { float: right; margin-left: 15px; }
.clear { clear: both }
.clearfix:after,
.cols:after,
.box:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/* =================================
				GENERAL
==================================== */
#wpwrap {
    height: auto;
    min-height: 100%;
    position: relative;
    width: 100%;
}
#wpcontent {
	height: 100%;
	margin-left: 165px;
	position: relative;
}
#wpbody-content {
	float: left;
	padding-bottom: 65px;
    width: 100%;
}
#maven-body {
    background: url("images/bg.png") no-repeat;
    font-family: 'Helvetica Neue';
    font-size: 13px;
    margin-left: -19px;
    margin-top: 0;
    padding-left: 20px;
    padding-top: 20px;
}
.cols2 .col {
	float: left;
	margin-left: 4%;
	width: 48%;
}
.cols2 .col:first-child {
	margin-left: 0;
}
/* =================================
				HEADER
==================================== */
#maven-header {
    border-radius: 10px;
    margin: 0 5px 1em 0;
    overflow: hidden;
}
#maven-header .wrapper {
    display: block;
    overflow: hidden;
}
#maven-header h1 {
    float: right;
    margin: 0;
}
#maven-header h1 a {
    background: url("images/logo.png") no-repeat;
    display: block;
    height: 50px;
    text-decoration: none;
    width: 198px;
}
#maven-header h2 {
	color: #000;
    float: left;
    font: bold 19px 'Lucida Grande', Helvetica, Arial, sans-serif;
    margin-top: 25px;
}
#maven-header h2 span {
	font-size: 13px;
}
/* =================================
				CONTENT
==================================== */
.maven-content #tabs {
    background: none repeat scroll 0 0 #FFFFFF;
}
.maven-content .settings .ui-widget-content { border: none }
.maven-content .ui-widget {
    font-family: 'Helvetica Neue' !important;
    font-size: 14px;
}
.maven-content #nav.ui-widget-header {
    border: medium none;
    color: inherit;
    font-weight: inherit;
}
#nav {
    background: none repeat scroll 0 0 #489099;
    border-bottom: 1px solid #DFDFDF;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25) inset;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}
.maven-content #nav .ui-state-active, .maven-content #nav .ui-widget-content .ui-state-active, .maven-content #nav .ui-widget-header .ui-state-active, .maven-content #nav .ui-state-default, .maven-content #nav .ui-widget-content .ui-state-default, .maven-content #nav .ui-widget-header .ui-state-default {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: inherit;
    font-weight: inherit;
}
#nav li {
    float: left;
    margin-bottom: 0;
}
#nav li a {
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: bold;
    height: 23px;
    margin: 5px 5px 0;
    padding: 5px 20px 0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#nav li a:hover {
	color: #1b535b;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255,255,255,0.25);
}
#nav li.ui-state-active a {
    background: rgb(243,243,243);
	background: -moz-linear-gradient(top,  rgba(243,243,243,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,243,243,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top,  rgba(243,243,243,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(243,243,243,1) 0%,rgba(255,255,255,1) 100%);
    border-radius: 5px 5px 0 0;
    border: 1px solid #fff;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.25);
    color: #000000;
    padding: 4px 19px 0;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.maven-content a.button,
.maven-content input[type="submit"] {
	background: url(../images/bg-button.jpg) repeat-x;
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(245,245,245,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%);
	border: 1px solid #c1c1c1;
	border-radius: 3px;
	color: #525252;
	cursor: pointer;
	display: inline-block;
	font: bold 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 15px 0 0;
	padding: 5px 15px;
	text-decoration: none;
}
.maven-content a.edit {
	background: url(../images/ico-edit.png) 10px 50% no-repeat, url(../images/bg-button.jpg) repeat-x;
	background: url(../images/ico-edit.png) 10px 50% no-repeat, -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
	background: url(../images/ico-edit.png) 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(245,245,245,1)));
	background: url(../images/ico-edit.png) 10px 50% no-repeat, -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%);
	background: url(../images/ico-edit.png) 10px 50% no-repeat, -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%);
	padding: 5px 15px 5px 35px;
}
.maven-content a.button:hover,
.maven-content input[type="submit"]:hover {
	background: rgb(245,245,245);
	background: -moz-linear-gradient(top,  rgba(245,245,245,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,245,245,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(255,255,255,1) 100%);
}
.maven-content a.edit:hover {
	background: url(../images/ico-edit.png) 10px 50% no-repeat, rgb(245,245,245);
	background: url(../images/ico-edit.png) 10px 50% no-repeat, -moz-linear-gradient(top,  rgba(245,245,245,1) 0%, rgba(255,255,255,1) 100%);
	background: url(../images/ico-edit.png) 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,245,245,1)), color-stop(100%,rgba(255,255,255,1)));
	background: url(../images/ico-edit.png) 10px 50% no-repeat, -webkit-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(255,255,255,1) 100%);
	background: url(../images/ico-edit.png) 10px 50% no-repeat, -o-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(255,255,255,1) 100%);
}
.maven-content .details {
	float: right;
	width: 80%;
}
.maven-content .cols h3 {
	border-bottom: 1px solid #c2c2c2;
	color: #535353;
	font: bold 12px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin-bottom: 10px;
	padding-bottom: 5px;
	text-transform: uppercase;
}
.maven-content .cols img {
	background: #fff;
	padding: 3px;
	border-radius: 3px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}
.maven-content .mvn-caption {
	color: #464646;
    display: block;
    float: left;
    font: bold 13px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    padding: 0 0 10px;
    width: 18%;
}
.maven-content .cols .mvn-caption { width: 31% }
.maven-content .mvn-input {
	color: #656565;
    display: block;
    font: 13px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0 0 0 20%;
    padding: 0 0 10px;
}
.maven-content input[type="text"],
.maven-content input[type="password"],
.maven-content textarea, 
.maven-content select {
    border: 1px solid #CECECE;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1) inset;
    border-radius: 3px;
    height: auto;
    font: 13px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 0.5em 1em;
    width: 80%;
}
.maven-content input.date {
	width: 10%;
}
.maven-content select { width: 30% }

.maven-list-profile-image {
	float:left; margin-right: 5px;
}