
<div class="row-fluid">
	<div class="widget">
		<div class="widget-title">
			<h4><i class="icon-reorder"></i>
				{{ titleRoles }}</h4>
			<span class="tools">
				<button class="btn btn-success" id="add"><i class="icon-plus"></i>&nbsp;{{ buttonAddRole }}</button>
			</span>
		</div>  
		<div class="widget-body">
			<table id="roles" class="table table-striped table-condensed table-hover">
				<thead>
					<tr>
						<th class="nameColumn">{{ columnName }}</th>
						<th class="actions"></th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>


