<td><img id="statusImage" /></td>
<td id="email"></td>
<td id="firstName"></td>
<td id="lastName"></td>
<td>
	<button class="btn btn-primary btn-mini" id="edit">
	<i class="icon-edit"></i>&nbsp;{{ buttonEdit }}</button>
	<a id="confirmDeleteButton" class="btn btn-mini" role="button"><i class="icon-trash"></i>&nbsp;{{ buttonDelete }}</a>
	<div aria-hidden="true" aria-labelledby="myModalLabel3" role="dialog" 
	     tabindex="-1" class="modal fade" id="confirmDeleteModal" style="display: none;">
		<div class="modal-header">
			<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
			<h3 id="myModalLabel3">{{ deleteConfirmationMessage }}</h3>
		</div>
		<div class="modal-body">
			<p><strong>{{ columnEmail }}:&nbsp;</strong><span id="email"></span></p>
			<p><strong>{{ columnFirstName }}:&nbsp;</strong><span id="firstName"></span></p>
			<p><strong>{{ columnLastName }}:&nbsp;</strong><span id="lastName"></span></p>
			<div class="alert alert-block alert-error fade in">
				<!--<button data-dismiss="alert" class="close" type="button">×</button>-->
				<h4 class="alert-heading">{{deleteWarning}}</h4>
				<p>
					{{deleteWarningMessage}}
				</p>
			</div>
		</div>
		<div class="modal-footer">
			<button aria-hidden="true" data-dismiss="modal" class="btn">{{ buttonCloseModal }}</button>
			<button class="btn btn-danger" id="performDelete" data-dismiss="modal">{{ buttonConfirmDelete }}</button>
		</div>
	</div>
</td>
