<div class="row-fluid">
	<div class="widget widget-tabs widget-tabs-left">
		<div class="widget-title">
			<span class="tools"></span>
		</div>
		<div class="widget-body">
			<div class="form-horizontal">
				<div class="tabbable portlet-tabs">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#attendee_data" data-toggle="tab"><i class="icon-user-md"></i>&nbsp;{{tabEditPersonalInfo}}</a></li>
						<li><a href="#attendee_photo" data-toggle="tab"><i class="icon-camera"></i>&nbsp;{{tabEditPhoto}}</a></li>
						<li><a href="#attendee_address_container" data-toggle="tab"><i class="icon-home"></i>&nbsp;{{tabEditAddress}}</a></li>
						<li><a href="#user" data-toggle="tab"><i class="icon-key"></i>&nbsp;{{tabEditUser}}</a></li>
						<li id="rolesTab"><a href="#roles" data-toggle="tab"><i class="icon-group"></i>&nbsp;{{tabEditRoles}}</a></li>
					</ul>
					<div class="tab-content" >
						<div class="tab-pane fade in active" id="attendee_data">
							<div  class="control-group">
								<label class="control-label" for="salutation">{{salutation}}:</label>
								<div class="controls"><select class="input-small" name="salutation" id="salutation"></select></div>
							</div>
							<div  class="control-group">
								<label class="control-label" for="firstName">{{firstName}}:</label>
								<div class="controls"><input class="input-xlarge" type="text" name="firstName" id="firstName" data-error-style="inline"/></div>
							</div>
							<div  class="control-group">
								<label class="control-label" for="lastName">{{lastName}}:</label>
								<div class="controls"><input class="input-xlarge" type="text" name="lastName" id="lastName" data-error-style="inline"/></div>
							</div>
							<div  class="control-group">
								<label class="control-label" for="email">{{email}}:</label>
								<div class="controls">
									<div class="input-prepend">
										<span class="add-on">@</span>
										<input class="input-large" type="text" name="email" id="email"/></div>
								</div>
							</div>
							<div  class="control-group">
								<label class="control-label" for="phone">{{phone}}:</label>
								<div class="controls"><input class="input-large" type="text" name="phone" id="phone"/></div>
							</div>
							<div  class="control-group">
								<label class="control-label" for="company">{{company}}:</label>
								<div class="controls"><input class="input-xlarge" type="text" name="company" id="company" data-error-style="inline"/></div>
							</div>
							<div  class="control-group">
								<label class="control-label" for="notes">{{notes}}:</label>
								<div class="controls"><textarea class="input-xxlarge" name="notes" id="notes"></textarea></div>
							</div>
							<div class="control-group">
								<label class="control-label" for="wholesale">{{wholesale}}:</label>
								<div class="controls">
									<div class="toggle-button profile-toggle-button">
										<input type="checkbox" class="toggle" name="wholesale" id="wholesale"/></div>
								</div>
							</div>
							<div  class="control-group">
								<label class="control-label" for="adminNotes">{{adminNotes}}:</label>
								<div class="controls"><textarea class="input-xxlarge" name="adminNotes" id="adminNotes"></textarea></div>
							</div>
							<div class="control-group">
								<label class="control-label" for="createdOn">{{createdOn}}:</label>
								<div class="controls">
									<input class="input-medium" disabled="disabled" type="text" name="createdOn" id="createdOn" data-error-style="inline"/>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="lastUpdate">{{lastUpdate}}:</label>
								<div class="controls">
									<input class="input-medium" disabled="disabled" type="text" name="lastUpdate" id="lastUpdate" data-error-style="inline"/>
								</div>
							</div>
						</div>	
						<div class="tab-pane fade in" id="attendee_photo">
							<div  class="control-group">
								<label class="control-label" >{{photo}}:</label>
								<div class="controls input-icon">
									<img src='' class='preview upload_image_button' />
									<span class="input-info tooltips" data-original-title="{{ photo }}">
										<i class="icon-exclamation-sign"></i>
									</span>

								</div>
							</div>
						</div>
						<div class="tab-pane fade in" id="attendee_address_container">
							<div class="alert alert-success" id="add_address_container">
								<div  class="control-group">
									<label class="control-label" for="typeAddressAdd">{{type}}:</label>
									<div class="controls">
										<select class="input-small" name="typeAddressAdd" id="typeAddressAdd"></select>
										<span class="help-inline">
											<button class="btn btn-mini btn-success" id="addAddress"><i class="icon-plus-sign"></i>&nbsp;{{buttonAddAddress}}</button>
										</span>
									</div>									
								</div>
							</div>
							<div id="attendee_address" class="accordion in collapse" style="height: auto;">
							</div>

						</div>
						<div class="tab-pane fade in" id="user">
							<div class="alert alert-info">
								<!--<button data-dismiss="alert" class="close">×</button>-->
								A WordPress user means, that the user will be able to log in to your system.<br />
								It will be associated with the <strong>"<span id="defaultRole"></span>"</strong> role. 								
							</div>
							<div id="registeredMessage" class="control-group">
								<label class="control-label"></label>
								<div class="controls">{{registeredMessage}}</div>
							</div>
							<div id="registeredControl" class="control-group">
								<label class="control-label" for="registered">{{registered}}:</label>
								<div class="controls">
									<div class="toggle-button profile-toggle-button">
										<input type="checkbox" class="toggle" name="registered" id="registered"/></div>
								</div>

							</div>
							<div  class="control-group">
								<label class="control-label" for="username">{{username}}:</label>
								<div class="controls"><input class="input-xlarge" type="text" name="username" id="username" /></div>
							</div>
							<div  class="control-group">
								<label class="control-label" for="password">{{password}}:</label>
								<div class="controls"><input class="input-large" type="password" name="password" id="password" /></div>
							</div>
							<div  class="control-group">
								<label class="control-label" for="confirm">{{confirm}}:</label>
								<div class="controls"><input class="input-large" type="password" name="confirm" id="confirm" /></div>
							</div>
						</div>
						<div class="tab-pane fade in" id="roles">
							<div class="alert alert-info" id="roles_message">
								<!--<button data-dismiss="alert" class="close">×</button>-->
								The profile need to be asociated with a Worpress User to asign roles. 								
							</div>
							<div id="roles_container"></div>
						</div>
					</div>
				</div>
				<div class="form-actions">
					<button class="btn btn-success" id="save"><i class="icon-save"></i>&nbsp;{{buttonSave}}</button>
					<button class="btn" id="cancel"><i class="icon-remove"></i>&nbsp;{{buttonCancelEdit}}</button>
				</div>
			</div>
		</div>

	</div>

</div>
