<div class="row-fluid">
	<div class="widget">
		<div class="widget-title">
			<h4><i class="icon-reorder"></i>
				{{ title }}</h4>
			<span class="tools">
				<a href="javascript:void(0)" class="filter active"><i class="icon-cog"></i></a>
				<button class="btn btn-success" id="add"><i class="icon-plus"></i>&nbsp;{{ buttonAdd }}</button>
			</span>
		</div>
		<div class="filter-wrap">
			<input id="fieldEmail" name="fieldEmail" type="text" class="input-medium" placeholder="{{columnEmail}}" style="margin: 0 auto;"  />&nbsp;
			<input id="fieldFirstName" name="fieldFirstName" type="text" class="input-medium" placeholder="{{columnFirstName}}" style="margin: 0 auto;"  />&nbsp;
			<input id="fieldLastName" name="fieldLastName" type="text" class="input-medium" placeholder="{{columnLastName}}" style="margin: 0 auto;"  />&nbsp;
			<span id="search" class="btn"><i class="icon-search"></i></span>&nbsp;
			<span id="cleanSearch" class="btn"><i class="icon-undo"></i></span>			
		</div>
		<div class="widget-body">
			<div id="profiles-container"></div>
		</div>
	</div>
</div>


