<div class="row-fluid">
	<div class="widget widget-tabs widget-tabs-left">
		<div class="widget-title">
			<span class="tools"></span>
		</div>
		<div class="widget-body">
			<div class="form-horizontal">
				<div class="tabbable portlet-tabs">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#promotion_data" data-toggle="tab"><i class="icon-user-md"></i>&nbsp;{{tabEditPromotion}}</a></li>
					</ul>
					<div class="tab-content" >
						<div class="tab-pane fade in active" id="promotion_data">
							<div  class="control-group">
								<label class="control-label" for="enabled">{{enabled}}:</label>
								<div class="controls">
									<div class="toggle-button">
										<input type="checkbox" class="toggle" name="enabled" id="enabled"/>
									</div>
								</div>
							</div>
							<div  class="control-group">
								<label class="control-label" for="section">{{section}}:</label>
								<div class="controls">
									<select class="input-large" name="section" id="section" data-error-style="inline"/></select>
									<span class="help-inline" id="section-help"></span>
								</div>
							</div>
							<div  class="control-group">
								<label class="control-label" for="name">{{name}}:</label>
								<div class="controls"><input class="input-xxlarge" type="text" name="name" id="name" data-error-style="inline"/></div>
							</div>
							<div  class="control-group">
								<label class="control-label" for="code">{{code}}:</label>
								<div class="controls"><input class="input-xlarge" type="text" name="code" id="code" /></div>
							</div>
							<div  class="control-group">
								<label class="control-label" for="type">{{type}}:</label>
								<div class="controls"><select class="input-large" name="type" id="type" data-error-style="inline"/></select></div>
							</div>
							<div  class="control-group">
								<label class="control-label" for="value">{{value}}:</label>
								<div class="controls"><div class="input-prepend"><span id="typeSymbol" class="add-on">?</span><input class="input-medium" type="text" name="value" id="value" data-error-style="inline"/></div></div>
							</div>
							<div  class="control-group">
								<label class="control-label" for="limitOfUse">{{limitOfUse}}:</label>
								<div class="controls">
									<input class="input-small" type="text" name="limitOfUse" id="limitOfUse" />
									<span class="help-inline">Use 0 for <strong>no limit</strong></span>
								</div>
							</div>
							<div  class="control-group">
								<label class="control-label" for="uses">{{uses}}:</label>
								<div class="controls"><input class="input-small" type="text" name="uses" id="uses" readonly="readonly" /></div>
							</div>
							<div  class="control-group">
								<label class="control-label" for="from">{{from}}:</label>
								<div class="controls">
									<div class="input-append date date-picker">
										<input class="input-large datepicker" type="text" name="from" id="from" />
										<span id="showCalendar" class="add-on"><i class="icon-calendar"></i></span>
									</div>
								</div>
							</div>
							<div  class="control-group">
								<label class="control-label" for="to">{{to}}:</label>
								<div class="controls">
									<div class="input-append date date-picker">
										<input class="input-large datepicker" type="text" name="to" id="to" />
										<span id="showCalendar" class="add-on"><i class="icon-calendar"></i></span>
									</div>
								</div>
							</div>

							<!--<div  class="control-group">
								<label class="control-label" for="exclusive">{{exclusive}}:</label>
								<div class="controls">
									<div class="toggle-button">
										<input type="checkbox" class="toggle" name="exclusive" id="exclusive"/></div>
								</div>


							</div>-->
							<div  class="control-group">
								<label class="control-label" for="description">{{description}}:</label>
								<div class="controls">
									<textarea  class="simpleEditor span9 wysihtml5" rows="20" cols="20" name="description" id="description"></textarea>
								</div>
							</div>
						</div>	
					</div>
				</div>
				<div class="form-actions">
					<button class="btn btn-success" id="save"><i class="icon-save"></i>&nbsp;{{buttonSavePromotion}}</button>
					<button class="btn" id="cancel"><i class="icon-remove"></i>&nbsp;{{buttonCancelEditPromotion}}</button>
				</div>
			</div>
		</div>

	</div>

</div>
