<!-- // presenters/app/templates/presenters.html -->

<div class="row-fluid">
	<div class="widget">
		<div class="widget-title">
			<h4><i class="icon-reorder"></i>
				{{ titlePromotions }}</h4>
			<span class="tools">
				<button class="btn btn-success" id="add"><i class="icon-plus"></i>&nbsp;{{ buttonAddPromotion }}</button>
				<button class="btn btn-info" id="multi"><i class="icon-copy"></i>&nbsp;{{ buttonAddMultiplePromotions }}</button>
				<button class="btn btn-default" id="export"><i class="icon-table"></i>&nbsp;{{ buttonExport }}</button>
			</span>
		</div>  
		<div class="widget-body">
			<div id="promotions"></div>
		</div>
	</div>
</div>


