<div class="modal-header"><h3>Test email</h3></div>
<div class="modal-body">
	<div  class="control-group">
		<label class="control-label" for="emailProvider">{{emailProvider}}</label>
		<div class="controls">
			<select class="input-large m-wrap" id="emailProvider"  name="emailProvider"></select>
		</div>
	</div>
	<div  class="control-group">
		<label class="control-label" for="emailTo">{{emailTo}}</label>
		<div class="controls">
			<input  class="input-large" type="text" id="emailTo" name="emailTo" />
		</div>
	</div>
	<div  class="control-group">
		<label class="control-label" for="emailCC">{{emailCC}}</label>
		<div class="controls">
			<input  class="input-large" type="text" id="emailCC" name="emailCC" />
		</div>
	</div>
	<div  class="control-group">
		<label class="control-label" for="emailBCC">{{emailBCC}}</label>
		Mandrill's API only accept one BCC address. The other addresses supplied will be silently discarted
		<div class="controls">
			<input  class="input-large" type="text" id="emailBCC" name="emailBCC" />
		</div>
	</div>
	<div  class="control-group">
		<label class="control-label" for="subject">{{subject}}</label>
		<div class="controls">
			<input  class="input-large" type="text" id="subject" name="subject" />
		</div>
	</div>
	<div  class="control-group">
		<label class="control-label" for="message">{{message}}</label>
		<div class="controls">
			<textarea  class="simpleEditor span12 wysihtml5" rows="7" cols="7" name="message" id="message"></textarea>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" id="run-test"><i class="icon-inbox"></i>&nbsp;Test</button>
	<a class="btn close " data-dismiss="modal" data-target="#email-tester-modal">Close</a>
	
</div>

