
<div class="widget">

	<div class="widget-title">
		<h4><i class="icon-play-circle"></i>Authorize.net</h4>
		<span class="tools">
			<a href="javascript:;" class="icon-chevron-up"></a>
		</span>
	</div>
	<div class="widget-body" style="display:none;">
		
		<h4>{{liveMode}}</h4>
		<div  class="control-group">
			<label class="control-label" for="authorizationType">{{authorizationType}}</label>
			<div class="controls">
				<select class="input-large m-wrap" id="authorizationType"  name="authorizationType"></select>
			</div>
		</div>
		<div  class="control-group">
			<label class="control-label" for="loginLive">{{login}}</label>
			<div class="controls">
				<input  class="input-large" type="text" id="loginLive" name="loginLive" />
			</div>
		</div>
		<div  class="control-group">
			<label class="control-label" for="delimiter">{{delimiter}}</label>
			<div class="controls">
				<input  class="input-small" type="text" id="delimiter" name="delimiter" />
			</div>
		</div>
		
		<div  class="control-group">
			<label class="control-label" for="transactionKey">{{transactionKey}}</label>
			<div class="controls">
				<input  class="input-large" type="password" id="transactionKey" name="transactionKey" />
			</div>
		</div>

		<h4>{{testMode}}</h4>
		<div  class="control-group">
			<label class="control-label" for="authorizationTypeTest">{{authorizationType}}</label>
			<div class="controls">
				<select class="input-large m-wrap" id="authorizationTypeTest"  name="authorizationTypeTest"></select>
			</div>
		</div>
		<div  class="control-group">
			<label class="control-label" for="loginTest">{{login}}</label>
			<div class="controls">
				<input  class="input-large" type="text" id="loginTest" name="loginTest" />
			</div>
		</div>

		<div  class="control-group">
			<label class="control-label" for="transactionKeyTest">{{transactionKey}}</label>
			<div class="controls">
				<input  class="input-large" type="password" id="transactionKeyTest" name="transactionKeyTest" />
			</div>
		</div>

	</div>
</div>


