
<div class="widget">

	<div class="widget-title">
		<h4><i class="icon-play-circle"></i>Intuit</h4>
		<span class="tools">
			<a href="javascript:;" class="icon-chevron-up"></a>
		</span>
	</div>
	<div class="widget-body" style="display:none;">
		
		<h4>{{liveMode}}</h4>
		<div  class="control-group">
			<label class="control-label" for="authorizationType">{{authorizationType}}</label>
			<div class="controls">
				<select class="input-large m-wrap" id="authorizationType"  name="authorizationType"></select>
			</div>
		</div>
		<div  class="control-group">
			<label class="control-label" for="appLogin">{{appLogin}}</label>
			<div class="controls">
				<input  class="input-large" type="text" id="appLogin" name="appLogin" />
			</div>
		</div>
        <div  class="control-group">
			<label class="control-label" for="connectionTicket">{{connectionTicket}}</label>
			<div class="controls">
				<input  class="input-large" type="text" id="connectionTicket" name="connectionTicket" />
			</div>
		</div>
 

	</div>
</div>


