
<div class="widget">

	<div class="widget-title">
		<h4><i class="icon-play-circle"></i>Navigate</h4>
		<span class="tools">
			<a href="javascript:;" class="icon-chevron-up"></a>
		</span>
	</div>
	<div class="widget-body" style="display:none;">
		
		<div  class="control-group">
			<label class="control-label" for="authorizationType">{{authorizationType}}</label>
			<div class="controls">
				<select class="input-large m-wrap" id="authorizationType"  name="authorizationType"></select>
			</div>
		</div>
		<div  class="control-group">
			<label class="control-label" for="loginLive">{{login}}</label>
			<div class="controls">
				<input  class="input-large" type="text" id="loginLive" name="loginLive" />
			</div>
		</div>
		
		<div  class="control-group">
			<label class="control-label" for="transactionKey">{{transactionKey}}</label>
			<div class="controls">
				<input  class="input-large" type="password" id="transactionKey" name="transactionKey" />
			</div>
		</div>


	</div>
</div>


