<div class="row-fluid">
	
	<div class="span4 sortable">
		<!-- BEGIN GRID SAMPLE PORTLET-->
		<div class="widget">
			<div class="widget-title">
				<h4><i class="icon-reorder"></i>Active Mail List Provider</h4>
				<span class="tools">
				</span>							
			</div>
			<div class="widget-body">
				<div  class="control-group">
					<label class="control-label" for="emailProvider">Mail List</label>
					<div class="controls">
						<select class="input-large m-wrap" id="emailProvider"  name="emailProvider"></select>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="form-actions">
	<button class="btn btn-primary" id="save"><i class="icon-save"></i>&nbsp;Save</button>
</div>
