<div class="row-fluid">
	<div  class="span4 sortable">
		<!-- END GRID SAMPLE PORTLET-->
		<!-- BEGIN GRID SAMPLE PORTLET-->
		<div class="widget">
			<div class="widget-title">
				<h4><i class="icon-reorder"></i>{{activeSocialNetworks}}</h4>
				<span class="tools">
				</span>							
			</div>
			<div class="widget-body">	
					<ul id="registered-socialnetworks" class="chats">
						
						
					</ul>
			</div>
		</div>
		<!-- END GRID SAMPLE PORTLET-->
	</div>
</div>

<div class="form-actions">
	<button class="btn btn-primary" id="save"><i class="icon-save"></i>&nbsp;Save</button>
</div>