
<div class="widget">

	<div class="widget-title">
		<h4><i class="icon-facebook-sign"></i>&nbsp;Facebook</h4>
		<span class="tools">
			<a href="javascript:;" class="icon-chevron-up"></a>
		</span>							
	</div>
	<div class="widget-body" style="display:none;">
		<div  class="control-group">
			<label class="control-label" for="facebookAppId">{{facebookAppId}}</label>
			<div class="controls">			  
				<input  class="input-large" type="text" id="facebookAppId" name="facebookAppId" />
			</div>
		</div>
		<div  class="control-group">
			<label class="control-label" for="facebookSecret">{{facebookSecret}}</label>
			<div class="controls">
				<input  class="input-xxlarge" type="text" id="facebookSecret" name="facebookSecret" />
			</div>
		</div>
		<div  class="control-group">
			<label class="control-label" for="facebookAccessToken">{{facebookAccessToken}}</label>
			<div class="controls">
				<input  class="input-xxlarge" type="text" id="facebookAccessToken" name="facebookAccessToken" />
			</div>
		</div>
	</div>
</div>
