<div class="row-fluid">
	<div class="widget widget-tabs widget-tabs-left">
		<div class="widget-title">
			<!--<h4>Donation</h4>-->
			<span class="tools"></span>
			<!--<div class="widget-buttons"></div>-->
		</div>
		<div class="widget-body">
			<div class="form-horizontal">
				<div class="tabbable portlet-tabs">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#tabs-general" data-toggle="tab"><i class="icon-user"></i>&nbsp;{{tabGeneral}}</a></li>
						<li class=""><a href="#tabs-emails" data-toggle="tab"><i class="icon-envelope"></i>&nbsp;{{tabEmails}}</a></li>
						<li class=""><a href="#tabs-email-providers" data-toggle="tab"><i class="icon-envelope"></i>&nbsp;{{tabEmailProviders}}</a></li>
						<li class=""> <a href="#tabs-gateways" data-toggle="tab"><i class="icon-play-circle"></i>&nbsp;{{tabGateway}}</a></li>
						<li class=""><a href="#tabs-tracking" data-toggle="tab"><i class="icon-shopping-cart"></i>&nbsp;{{tabTracking}}</a></li>
						<li class=""><a href="#tabs-maillist" data-toggle="tab"><i class="icon-shopping-cart"></i>&nbsp;{{tabMaillist}}</a></li>
						<li class=""><a href="#tabs-licensing" data-toggle="tab"><i class="icon-envelope"></i>&nbsp;{{tabLicensing}}</a></li>
						<li class=""><a href="#tabs-socialnetworks" data-toggle="tab"><i class="icon-group"></i>&nbsp;{{tabSocialNetworks}}</a></li>
						
					</ul>
					
					<div class="tab-content" >
						<div class="tab-pane fade in active" id="tabs-general">
							
						</div>
						
						<div class="tab-pane fade in " id="tabs-emails">
							
						</div>
						
						<div class="tab-pane fade in " id="tabs-email-providers">
							
						</div>
						
						<div class="tab-pane fade in " id="tabs-gateways">
							
						</div>
						
						<div class="tab-pane fade in " id="tabs-tracking">
							
						</div>
						
						<div class="tab-pane fade in " id="tabs-maillist">
							
						</div>
						
						<div class="tab-pane fade in " id="tabs-licensing">
							<p class="license-description">
								{{licenseNotActiveDesc}}
							</p>
							
						</div>
						
						<div class="tab-pane fade in " id="tabs-socialnetworks">
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>