
<p >Hi <strong><?php echo $userLogin; ?></strong>,</p>

<p >There was recently a request to change the password on your account.If you requested this password change, please set a new password by following the link below:<p>

<p style="overflow:hidden;"><a href="<?php echo $resetLink;?>"><?php echo $resetLink;?></a></p>

<?php if ($autoLoginLink):?>
<p> Or you can use our <a href="<?php echo $autoLoginLink;?>">Instant login</a></p>
<?php endif; ?>

<p >Please note that this link is valid for 24 hours.</p>

<p >If you don't want to change your password, just ignore this message.</p>

<p >Thanks,<br> <?php echo $organizationSignature; ?></p>		
	